<%- include ('partials/header.ejs') %>

<h1>
	Some posts of this week
</h1>

<!-- For each Loop -->

<% posts.forEach(function(posts){ %>
<li> <%= posts.title %>  - <%= posts.author %></li>
	
<% }) %>

<%- include ('partials/footer.ejs') %>